.list-social {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 749px) {
  .list-social {
    margin-bottom: 2.4rem;
  }
}

.list-social__item .icon {
  height: 3.2rem;
  width: 3.2rem;
}

@media only screen and (min-width: 990px) {
  .list-social__item .icon {
    height: 2.2rem;
    width: 2.2rem;
  }
}

.list-social .list-social__link:first-of-type {
  padding-left: 0;
}
.list-social__link {
  align-items: center;
  display: flex;
  padding: 0 1.1rem;
  color: rgb(var(--color-foreground));
}

.utility-bar .list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
