.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
.contact-page__wrapper:has(.contact-page__image) {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
@media screen and (max-width: 749px) {
  .contact-page__wrapper:has(.contact-page__image) {
    flex-direction: column;
  }
}
.contact-page__image {
  max-width: 66rem;
}
.contact-page__image img {
  width: 100%;
  height: auto;
}
.contact p.contact__subtitle {
  margin-top: 0;
}
.contact .icon-with-text {
  margin-top: 6rem;
}
