.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

#shopify-section-page strong {
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: 0.1px;
}

#shopify-section-page p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4rem;
}

#shopify-section-page p strong {
  font-size: 12px;
  line-height: 16.8px;
}

#shopify-section-page strong, #shopify-section-page p strong {
  font-weight: 600;
}

#shopify-section-page p a {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  padding: 1.6rem 2rem;
  border: solid 1px var(--color-black);
  border-radius: 4px;
  color: var(--color-black);
  text-decoration: none;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
